{{template "base" .}} {{define "title"}} &#8226; Edit Post{{end}} {{define "body"}}

<!--main Area-->
<main id="main">
    <div class="container-fluid text-center">
        <div class="row ">
            <div class="box-new-post top">
                <form action="edit" enctype="multipart/form-data" method="POST">
                    <div class="login w-50 d-inline-block">
                        <div class="makePost mb-3">
                            {{range $PostIndex, $item := .PostsData}} 
                            <input type="hidden" name="PostID" value="{{.PostID}}">
                            <label for="inputPostTitle" class="form-label">Title:</label>
                            <!-- <input type="hidden" name="postID" value="{{.PostTitle}}"> -->
                            <input type="text"  value="{{.PostTitle}}" name="inputPostTitle" class="form-control form-control-lg"
                                id="exampleInputTitle1" required aria-describedby="TitleHelp"
                                placeholder="Title of the recipe">
                        </div>
                        <div class="makePost mb-3">
                            <!-- <label for="exampleInputText1" class="form-label">Text</label> -->
                            <textarea name="inputPostContent" class="form-control text-left" id="inputPostContent"
                                required placeholder="Type your recipe here" style="height: 300px">{{.PostContent}}</textarea>
                        </div>
                        {{if .PostImage}}
                        <div class="makePost mb-3">
                            <img src=".{{.PostImage}}" class="img-fluid" alt="">
                        </div>
                        {{end}}
                        <div class="mb-3">
                            <div class="textwhite text-light">
                                Add or replace image. Max size 20 mb .jpg .png and .gif files
                            </div> 
                            <label for="inputImage" class="form-label"></label>
                            <input class="form-control" type="file" name="inputImage" id="inputImage">
                        </div>
                        {{end}}
                        
                        <br>

                        <br>
                        <br>
                        <input type="hidden" name="ParentID" value="0">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</main>

{{end}}