{{define "postDisplay"}}
{{$Thread := .IsThread}}
{{range $PostIndex, $item := .PostsData}} 
            <br> {{ $liked := .PostLiked.Int32 }}
            <div class="posts d-flex justify-content-center">
                <div class="post">
                    <div class="postHeader" ID="{{.PostID}}">
                        <div class="postUser">
                            {{.UserName}}
                        </div>
                        <div class="postTime">
                            {{.PostTime.Format "Jan 02, 2006 @ 15:04:05"}}
                        </div>
                    </div>
                    {{if eq $.SessionData.UserID  .UserID}}
                    <div class="d-flex justify-content-center">
                        <!-- <form action="editContent" method="post">
                            <input type="hidden" name="PostID" value="{{.PostID}}">
                        </form> -->
                        <form action="/delete?PostID={{.PostID}}" method="POST">

                            <input type="hidden" name="PostID" value="{{.PostID}}">
                            <button type="submit" class="deletePost-button" id="deletePost-button"><i class="iconoir-delete-circle"></i>
                        </form>
                        <a href="/edit?PostID={{.PostID}}">
                            <button type="submit" class="edit-button" id="edit-button"><i class="iconoir-edit"></i>
                        </a>
                    </div>
                        {{end}}
                    </button>
                    <hr class="postHr">
                    <div class="postBody">
                        <h2 class="postTitle">
                            <a href="/thread?ID={{.ParentID}}"> {{.PostTitle}}</a> {{if eq .Parents.Int32 0}} {{else}} ({{.Parents.Int32}}){{end}}
                        </h2>
                        <div class="postContent">
                            {{.PostContent}}
                        </div>
                        {{if .PostImage}}
                        <div class="imagepost">
                            <img src=".{{.PostImage}}" class= "imagepost" alt="">
                        </div>
                        {{end}}
                    </div>

                    {{if not $.SessionData.UserID}}
                    <hr class="postHr">
                    <a href="/login">
                        <div class="postActions">
                            <button class="postAction" id="likeBtn">{{.Positive.Int32}}&nbsp <i
                                    class="iconoir-thumbs-up"></i> </button>
                            <button class="postAction" id="dislikeBtn"> {{.Negative.Int32}} &nbsp<i
                                    class="iconoir-thumbs-down"></i> </button>
                    </a>
                    </div>
                    {{end}} {{if $.SessionData.UserID}}
                    <hr class="postHr">
                    <div class="postActions">
                        <form action="react" method="POST">
                            <input type="hidden" name="ID" value="{{.PostID}}">
                            <input type="hidden" name="LikeStatus" value="1">
                            <input type="hidden" name="page" value="{{if $Thread}}.{{index $.ThreadData $PostIndex}}{{else}}/{{end}}">
                            <button class="postAction {{if eq $liked 1}}active{{else}}{{end}}" id="likeBtn">                            
                                {{.Positive.Int32}}
                                &nbsp
                                <i class="iconoir-thumbs-up"></i>
                            </button>
                        </form>

                        <form action="react" method="POST">
                            <input type="hidden" name="ID" value="{{.PostID}}">
                            <input type="hidden" name="LikeStatus" value="-1">
                            <input type="hidden" name="page" value="{{if $Thread}}.{{index $.ThreadData $PostIndex}}{{else}}/{{end}}">
                            <button class="postAction {{if eq $liked -1}}active{{else}}{{end}}" id="dislikeBtn">
                                {{.Negative.Int32}}
                                &nbsp
                                <i class="iconoir-thumbs-down"></i>
                            </button>
                        </form>
                        <button class="postAction" id="commentBtn">
                            
                        <a href=".{{index $.ThreadData $PostIndex}}#comment" class="comment-link"><i class="iconoir-message-text"></i></a>
                    </button>
                    </div>
                    {{end}}
                    
                        {{if .EditPost}}
                        <div class="d-flex edit justify-content-center">
                            <sup>Post edited on {{.EditPost}}</sup>
                        </div>
                        {{end}}
                   
                </div>
            </div>
            {{end}} 
        {{end}} 
