{{template "base" .}} {{define "title"}} &#8226; Register User{{end}} {{define "body"}}


<!--main Area-->
<main id="main">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="boxregister top">
                <form method="POST">
                    <div class="login w-40 d-inline-block text-white">
                        <div class="mb-2">
                            <label for="registerName" class="form-label">Username</label>
                            <input type="text" name="registerName" class="form-control" id="registerName" aria-describedby="emailHelp" required minlength="2" maxlength="100">
                        </div>
                        <div class="mt-2">
                            <label for="registerEmail" class="form-label">Email</label>
                            <input type="email" name="registerEmail" class="form-control" id="registerEmail" aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-4 mt-2">
                            <label for="registerPassword" class="form-label">Password</label>
                            <input type="password" name="registerPassword" class="form-control" id="registerPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 5 or more characters"
                                required>
                        </div>
                        <button type="submit" class="d-flex mx-auto btn btn-secondary text-dark">Register</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</main>

{{end}}